.header {
    color: red;
}

body {
    background-color: black;
    color: blue;
}

.box{
    text-align: center;

    border: solid;
    color:aqua;
    position:fixed;
    top: 50%;
    left: 50%;
    width:30em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
}

.header {
    text-align: center;
}

.navbar-inverse {
    background-color: transparent;
    border-radius: 0px;
}

.navbar-nav {
    width: 100%;
    text-align: center;
}

.navbar-nav>li {
    float: initial;
    line-height: 150px;
    padding-right: 30px;
    padding-left: 30px;
}

.nav>li {
    display: inline-block;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 1.0s infinite;
    -moz-animation: blink 1.0s infinite;
    animation: blink 1.0s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
