body,
html {
    height: 100%;
    margin: 0;
    position: relative;
}

.navbar {
    background-color: white;
    border: 0;
    -webkit-box-shadow: none;
    bo-shadow: none;
}

.home {
    text-align: center;
    margin: 20%;
}

.home .border {
    height: 300px;
    width: 300px;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 40px;
    padding-right: 40px;
    margin: auto;
    border: 2px;
    border-style: solid;
    align-content: center;
}

.home .myName {
    margin: 20px;
    letter-spacing: 3px;
    color: orange;
}

.title {
    color: RED;
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 80px;}

section{
    align-content: center;
    text-align: center;
}

.person{
    display: inline-block;
    text-align: center;
}

.circle {
    margin-left: 7.5px;
    margin-top: 10%;
    width: 135px;
    height: 135px;
    border: 2px solid black;
    border-radius: 50%;
}

.half-circle {
    margin-top: 3px;
    border: 2px solid black;
    width: 150px;
    height: 100px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.skills {
    padding-top: 300px;
}

.skillTitle {
    text-align: center;
    font-size: 80px;
    display: block;
    background: red;
    color: white;
    font-style: italic;
}

.skills #display {
    /*    center*/
    display: block;
    margin: 0 auto;
}

.skills .books {
    float: right;
}

#portfolio {
    height: 280px;
    width: 280px;
    margin: auto;
    border: 2px solid;
    text-align: center;
}

.portfolio h1 {
    font-size: 85px;
    line-height: 80%;
}

.por {
    letter-spacing: 2px;
}

.tfo {
    letter-spacing: 6px;
}

.lio {
    letter-spacing: 0px;
}

.wip h1 {
    font-size: 80px;
    text-align: center;
}
