body,
html {
    height: 100%;
    margin: 0;
    position: relative;
}

.navbar {
    background-color: white;
    border: 0;
    -webkit-box-shadow: none;
    bo-shadow: none;
}

.home {
    text-align: center;
    padding: 10%;
}

section {
    padding: 10%;
    align-content: center;
    text-align: center;
}

.border {
    height: 300px;
    width: 300px;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 40px;
    padding-right: 40px;
    margin: auto;
    border: 2px;
    border-style: solid;
    align-content: center;
    letter-spacing: 3px;
}

.home .myName {
    margin: 20px;
    letter-spacing: 3px;
    color: orange;
}

.title {
    color: RED;
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 80px;
}


.person {
    display: inline-block;
    text-align: center;
}

.circle {
    margin-left: 7.5px;
    margin-top: 10%;
    width: 135px;
    height: 135px;
    border: 2px solid black;
    border-radius: 50%;
}

.half-circle {
    margin-top: 3px;
    border: 2px solid black;
    width: 150px;
    height: 100px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.centered {
    width: 40%;
    margin: auto;
    text-align: center;
}

@media only screen and (max-width: 1000px) {
    .centered {
        width: 80%;
    }
}

.skillTitle {
    text-align: center;
    display: block;
    background: red;
    color: white;
    font-style: italic;
    font-size: 85px;
    padding-top: 3px;
    padding-bottom: 3px;
    letter-spacing: 5px;
}

.toolInfo {
    margin: 20px;
    padding: 20%;
}

 li {
    text-align: center;
    list-style-type: none;
    font-family: serif;
    font-size: 18px;
    margin-left: auto;
}

.connectIcons {
    margin: 10px;
}
