body,
html {
    height: 100%;
    margin: 0;
    position: relative;
}

.navbar {
    background-color: white;
    border: 0;
    -webkit-box-shadow: none;
    bo-shadow: none;
}

.home {
    text-align: center;
    margin: 20%;
}

.home .border {
    min-width: 20px;
    max-width: 300px;
    min-height: 20px;
    max-height: 300px;
    padding-top: 40px;
    padding-bottom: 60px;
    padding-left: 40px;
    padding-right: 40px;
    margin: auto;
    border: 2px;
    border-style: solid;
    align-content: center;
}

.home .myName {
    letter-spacing: 5px;
}

.aboutTitle {
    color: black;
    font-weight: bold;
    font-size: 28px;
}

.me {
    min-width: 50%;
    /*    border-radius: 50%;*/
}

.circle {
    width: 30px;
    height: 30px;
    border: 1px solid;
    border-radius: 50%;
    background-color: black;
}

.center {
    width: 50%;
    margin: 0 auto;
}

#skillTag {
    font-weight: 300;
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 1px #d2202f solid;
    position: relative;
}

.underline {}
